.task-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Jab koi task na ho */
.no-task {
  margin-top: 40px;
  text-align: center;
  color: #555;
}

.no-task span {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #888;
}
