.TaskFormIcon {
    background-color: rgba(0, 0, 255, 0.4);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 54px;
    font-size: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: transform .2s ease;
    /* display: flex; */
    /* flex container */
    /* justify-content: flex-end; */
    /* max-width: 300px; */
}

.TaskFormIcon:hover {
    transform: translateY(2px);
}
.TaskFormIcon:active{
    scale: .8;
}

.formOverlayer {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.taskForm {
    background-color: rgba(221, 221, 230, 0.712);
    padding: 20px;
    border-radius: 12px;
    width: 70%;
    min-width: 300px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.taskForm h3 {
    margin-bottom: 15px;
    font-size: 2rem;
}

.taskForm input,
.taskForm textarea {
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 80%;
}

.taskForm input[type="range"] {
    width: 80%;
    margin-bottom: 15px;
}

.taskForm button {
    background: #3b82f6;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.taskForm button:hover {
    background: #2563eb;
}

.close {
  position: absolute;
  top: 7em;
  right: 8em;
  font-size: 20px;
  cursor: pointer;
}
.taskForm label{
    color: #171515;
}