.Task-container{
    min-height: 50vh;
    width: 100%;
     background: linear-gradient(
      to bottom,
      #f9fafb,
      #627eda
    );
    border-end-end-radius: 30px;
    border-end-start-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item{
    margin-top: 20px;
    /* background-color: aqua; */
    min-height: 300px;
    width: 90%;
}