.log-card {
    background: #fff;
    padding: 16px;
    margin: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-top: 10cap;
}

.log-card:hover {

    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.cardPart1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-end-end-radius: 10px;
    border-bottom: none;
}

.cardPart1 p {
    font-weight: 700;
}