.logCard {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.logCard:hover {
  box-shadow: 0 8px 22px rgba(0,0,0,0.15);
}

.logCard-header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.logCard-details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.logCard-details textarea {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 0.95rem;
  resize: none;
}

.logCard-details input[type="number"] {
  width: 100px;
  padding: 0.4rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.rating-group {
  display: flex;
  gap: 0.5rem;
}

.rating-group label {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.logCard-buttons {
  display: flex;
  gap: 0.7rem;
  margin-top: 0.5rem;
}

.save-btn {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.delete-btn {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #0056b3;
}

.delete-btn:hover {
  background-color: #b52a37;
}


.logCardHeader{
  display: flex;
  justify-content: space-around;
}