.authWrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 34, 64, 0.85);
}



.container {
    width: 100%;
    max-width: 400px;
    border-top: 4px solid transparent;
    background-image:
        linear-gradient(rgba(17, 34, 64, 0.85), rgba(17, 34, 64, 0.85)),
        linear-gradient(90deg, #64ffda, #00b4d8);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    border-radius: 16px;
    padding: 40px 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    /* backdrop-filter: blur(10px); */
    border: 1px solid rgba(100, 255, 218, 0.1);
}

label {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #64ffda;
}

.container h1 {
    transform: translateX(20px);
    transform: translateY(-30px);
    margin-bottom: 25px;
    padding: 2px;
    color: white;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 15px;
}

.container input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    border: 1px dotted #64ffda;
    height: 50px;
    /* font-style: italic; */
    background: rgb(17, 34, 64);
    border-radius: 20px;
    padding-left: 10px;
    color: white;
}

.container input::placeholder {
    font-size: 12px;
    font-style: italic;
}

.container button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}
.container button:hover{
    scale: 1.05;
}

.container button:active {
    background: green;
    color: white;
    /* z-index: -1; */
}